{{- $site := .site -}}
{{- $group := .group -}}
{{- $projects := where $site.RegularPages "Section" "projects" -}}
{{- $projects = where $projects "Params.availability" "!=" "archived" -}}
{{- $matches := slice -}}
{{- range $projects -}}
    {{- $include := false -}}
    {{- $environments := .Params.qrl_environments | default (slice) -}}
    {{- $qrlGenerations := .Params.qrl_generations | default (slice) -}}
    {{- if in $qrlGenerations "2.0" -}}
        {{- if eq $group "infrastructure" -}}
            {{- $include = and (eq .Params.project_type "infrastructure") (in $environments "testnet") -}}
        {{- else if eq $group "wallets" -}}
            {{- $include = and (in .Params.capabilities "wallet") (in $environments "testnet") -}}
        {{- else if eq $group "tooling" -}}
            {{- $include = eq .Params.project_type "tooling" -}}
        {{- else if eq $group "explorers" -}}
            {{- $include = and (in .Params.capabilities "explorer") (in $environments "testnet") -}}
        {{- else if eq $group "dapps" -}}
            {{- $include = and (eq .Params.project_type "protocol") (in $environments "testnet") -}}
        {{- end -}}
    {{- end -}}
    {{- if $include }}{{ $matches = $matches | append . }}{{ end -}}
{{- end -}}
{{- return (sort $matches "Title") -}}
